# Node.js 관련
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 환경 설정 파일
.env
.env.local

# OS 별 불필요 파일
.DS_Store
Thumbs.db

# 로그 파일
logs/
*.log

# Editor 설정
.vscode/
.idea/
*.swp

# 빌드 출력물 (추가적으로 빌드 도구 사용 시)
dist/
build/

# 테스트 관련 (예: Jest, Coverage)
coverage/

# Redis dump (만약 저장되는 경우)
dump.rdb

# 기타
*.tgz
